* {
    box-sizing: border-box;
    margin: 0;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
}

.header-container {
    height: 80px;
    background-color: rgb(58, 68, 103);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    background-color: #c8c8c8;
    width: 100%;
}

.col-lg-4, .col-md-6, .col-md-12, .col-sm-12 {
    float: left;
}
/******** Large Devices ********/
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

/******** Medium Devices ********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/******** Small Devices ********/
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}

.box {
    border: 1px solid black;
    background-color: #c8c8c8;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.title-box {
    position: relative;
    left: 100%;
    transform: translate(-100%, 0);
    height: 30px;
    width: 100px;
    border: 1px solid black;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#chicken {
    background-color: #1fba2e;
}

#beef {
    background-color: #a75e23;
}

#sushi {
    background-color: #533ab6;
}

.textbox {
    margin: 10px;
}
