* {
    box-sizing: border-box;
    margin: 0;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
}

.navbar-toggler:hover {
    opacity: 50%;
}

.navbar-nav {
    background-color: white;
    border: 1px solid black;
    border-bottom: 0px;
}
.nav-item {
    text-align: center;
    border-bottom: 1px solid black;
}

#headline-container {
    margin: 10px 0 10px 0;
}

#content-box {
    width: 95%;
    margin-top: 30px;
    }

#tall-column {
    min-height: 1000px;
    background-color: grey;
}

.columns h3 {
    text-align: center;
    margin-top: 10px;
}